In [89]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

import plotly.express as px
import polars as pl
import pandas as pd
pd.set_option('display.float_format', lambda x: f'{x :.2f}')
from cleaner import DataCleaner
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
from tools import (
    logging,
    bins_generator,
    import_datasets,
    decode_clean_actors,
    decode_clean,

)
import eda_movies as eda

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [53]:
link = "big_dataframe/actors.csv"
df_og = import_datasets(
    link,
    types="pandas",
    sep=","
)
cleaning = DataCleaner()
df1 = cleaning.fix_values(df_og, "fix_n")
df = cleaning.fix_values(df1, "fix_encode")

2023-10-26 15:49:14 INFO     Pandas loaded ! Importing actors...
2023-10-26 15:49:15 INFO     Fixing N values...
2023-10-26 15:49:16 INFO     Fixing encoding values...

In [54]:
df

,person_id,person_name,person_birthdate,person_role,person_index,person_film
0,nm0000001,Fred Astaire,1899,"[""Guy Holden""]",1,"tt0050419,tt0072308,tt0053137,tt0031983"
1,nm0000001,Fred Astaire,1899,"[""Huck Haines""]",2,"tt0050419,tt0072308,tt0053137,tt0031983"
2,nm0000001,Fred Astaire,1899,"[""Jerry Travers""]",1,"tt0050419,tt0072308,tt0053137,tt0031983"
3,nm0000001,Fred Astaire,1899,"[""Bake Baker""]",1,"tt0050419,tt0072308,tt0053137,tt0031983"
4,nm0000001,Fred Astaire,1899,"[""Lucky Garnett""]",1,"tt0050419,tt0072308,tt0053137,tt0031983"
...,...,...,...,...,...,...
1183372,nm9993616,Ryan Mac Lennan,0,"[""Mick Owen""]",4,tt4844148
1183373,nm9993650,Marcin Balcerak,0,"[""Guardian""]",4,tt8739208
1183374,nm9993693,Apsara Rani,1996,0,4,"tt12856788,tt8737752,tt8302382,tt13847502"
1183375,nm9993693,Apsara Rani,1996,"[""Vidhi""]",2,"tt12856788,tt8737752,tt8302382,tt13847502"
1183376,nm9993693,Apsara Rani,1996,"[""Anupama""]",2,"tt12856788,tt8737752,tt8302382,tt13847502"

In [55]:
df["person_birthdate"] = df["person_birthdate"].astype("int64")

In [56]:
df.isna().sum()

person_id           0
person_name         0
person_birthdate    0
person_role         0
person_index        0
person_film         0
dtype: int64

In [57]:
df.dtypes

person_id           object
person_name         object
person_birthdate     int64
person_role         object
person_index         int64
person_film         object
dtype: object

In [58]:
df["person_film"] = df["person_film"].str.split(",")

In [59]:
df["person_role"] = np.where(df["person_role"] == 0, "Unknown", df["person_role"])

In [64]:
df.isna().sum()

person_id           0
person_name         0
person_birthdate    0
person_role         0
person_index        0
person_film         0
dtype: int64

In [62]:
df["person_film"] = np.where(df["person_film"].isna(), "Unknown", df["person_film"])

In [65]:
mf = df.copy()

In [66]:
mf["person_role"] = mf["person_role"].apply(decode_clean_actors).str.split(",")

In [67]:
mf.head()

,person_id,person_name,person_birthdate,person_role,person_index,person_film
0,nm0000001,Fred Astaire,1899,[Guy Holden],1,"[tt0050419, tt0072308, tt0053137, tt0031983]"
1,nm0000001,Fred Astaire,1899,[Huck Haines],2,"[tt0050419, tt0072308, tt0053137, tt0031983]"
2,nm0000001,Fred Astaire,1899,[Jerry Travers],1,"[tt0050419, tt0072308, tt0053137, tt0031983]"
3,nm0000001,Fred Astaire,1899,[Bake Baker],1,"[tt0050419, tt0072308, tt0053137, tt0031983]"
4,nm0000001,Fred Astaire,1899,[Lucky Garnett],1,"[tt0050419, tt0072308, tt0053137, tt0031983]"

In [68]:
mf[mf["person_name"].str.contains('Eddie Murphy')]

,person_id,person_name,person_birthdate,person_role,person_index,person_film
18952,nm0000552,Eddie Murphy,1961,[Reggie Hammond],2,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18953,nm0000552,Eddie Murphy,1961,[Billy Ray Valentine],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18954,nm0000552,Eddie Murphy,1961,[Lieutenant T.M. Landry],2,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18955,nm0000552,Eddie Murphy,1961,[Axel Foley],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18956,nm0000552,Eddie Murphy,1961,[Chandler Jarrell],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18957,nm0000552,Eddie Murphy,1961,[Axel Foley],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18958,nm0000552,Eddie Murphy,1961,[Self],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18959,nm0000552,Eddie Murphy,1961,"[Prince Akeem, Clarence, Saul]",1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18960,nm0000552,Eddie Murphy,1961,[Quick],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18961,nm0000552,Eddie Murphy,1961,[Reggie Hammond],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18962,nm0000552,Eddie Murphy,1961,[Marcus],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18963,nm0000552,Eddie Murphy,1961,[Thomas Jefferson Johnson],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18964,nm0000552,Eddie Murphy,1961,[Axel Foley],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18965,nm0000552,Eddie Murphy,1961,"[Maximillian, Preacher Pauly, Guido]",1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18966,nm0000552,Eddie Murphy,1961,"[Sherman Klump, Buddy Love, Lance Perkins]",1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18967,nm0000552,Eddie Murphy,1961,[Dr. John Dolittle],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18968,nm0000552,Eddie Murphy,1961,[Insp. Scott Roper],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18969,nm0000552,Eddie Murphy,1961,['G'],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18970,nm0000552,Eddie Murphy,1961,[Mushu],2,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18971,nm0000552,Eddie Murphy,1961,[Rayford Gibson],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18972,nm0000552,Eddie Murphy,1961,[Donkey],2,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18973,nm0000552,Eddie Murphy,1961,"[Kit Ramsey, Jiff Ramsey]",2,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18974,nm0000552,Eddie Murphy,1961,"[Sherman Klump, Buddy Love, Granny Klump]",1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18975,nm0000552,Eddie Murphy,1961,[Pluto Nash],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18976,nm0000552,Eddie Murphy,1961,[Dr. John Dolittle],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18977,nm0000552,Eddie Murphy,1961,[Officer Trey Sellars],2,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18978,nm0000552,Eddie Murphy,1961,[Kelly],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18979,nm0000552,Eddie Murphy,1961,[Donkey],2,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18980,nm0000552,Eddie Murphy,1961,[Charlie Hinton],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18981,nm0000552,Eddie Murphy,1961,[Jim Evers],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18982,nm0000552,Eddie Murphy,1961,[Donkey],3,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18983,nm0000552,Eddie Murphy,1961,[James 'Thunder' Early],3,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18984,nm0000552,Eddie Murphy,1961,[Slide],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18985,nm0000552,Eddie Murphy,1961,"[Norbit, Rasputia, Mr. Wong]",1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18986,nm0000552,Eddie Murphy,1961,[Jack McCall],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18987,nm0000552,Eddie Murphy,1961,"[Dave, Captain]",1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18988,nm0000552,Eddie Murphy,1961,[Evan Danielson],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18989,nm0000552,Eddie Murphy,1961,[Donkey],3,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18990,nm0000552,Eddie Murphy,1961,[Akbar],3,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18991,nm0000552,Eddie Murphy,1961,[Henry Church],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18992,nm0000552,Eddie Murphy,1961,"[Prince Akeem, Clarence, Saul]",1,"[tt0097481, tt0117218, tt0094898, tt0443489]"
18993,nm0000552,Eddie Murphy,1961,[Rudy],1,"[tt0097481, tt0117218, tt0094898, tt0443489]"

In [69]:
mf.shape

(1183377, 6)

In [25]:
# merge avec movies

In [70]:
link = "clean_datasets/movies_cleaned.csv"
link_principals = "movies_datasets/title_principals.tsv"

movies_cleaned = import_datasets(link, "pandas", sep=",")
principals = import_datasets(link_principals, "pandas", sep="\t")

2023-10-26 15:51:37 INFO     Pandas loaded ! Importing movies_cleaned...
2023-10-26 15:51:38 INFO     Pandas loaded ! Importing title_principals...

In [71]:
principals = principals[["tconst", "nconst"]]

principals.head()

      tconst     nconst
0  tt0000001  nm1588970
1  tt0000001  nm0005690
2  tt0000001  nm0374658
3  tt0000002  nm0721526
4  tt0000002  nm1335271

In [72]:
movies_with_personid = pd.merge(
    movies_cleaned,
    principals,
    left_on = "titre_id",
    right_on = "tconst"
)

In [73]:
movies_with_personid = movies_with_personid.drop("tconst", axis=1)

movies_with_personid.head()

,titre_id,titre_str,titre_date_sortie,titre_duree,titre_genres,rating_avg,rating_votes,original_language,original_title,popularity,production_countries,revenue,spoken_languages,status,titleId,region,cuts,nconst
0,tt0035423,Kate & Leopold,2001,118,"['Comedy', 'Fantasy', 'Romance']",6.40,87747,en,Kate & Leopold,15.77,['US'],76019048.00,"['en', 'fr', 'it']",Released,tt0035423,FR,2000-2009,nm0107463
1,tt0035423,Kate & Leopold,2001,118,"['Comedy', 'Fantasy', 'Romance']",6.40,87747,en,Kate & Leopold,15.77,['US'],76019048.00,"['en', 'fr', 'it']",Released,tt0035423,FR,2000-2009,nm0000212
2,tt0035423,Kate & Leopold,2001,118,"['Comedy', 'Fantasy', 'Romance']",6.40,87747,en,Kate & Leopold,15.77,['US'],76019048.00,"['en', 'fr', 'it']",Released,tt0035423,FR,2000-2009,nm0413168
3,tt0035423,Kate & Leopold,2001,118,"['Comedy', 'Fantasy', 'Romance']",6.40,87747,en,Kate & Leopold,15.77,['US'],76019048.00,"['en', 'fr', 'it']",Released,tt0035423,FR,2000-2009,nm0000630
4,tt0035423,Kate & Leopold,2001,118,"['Comedy', 'Fantasy', 'Romance']",6.40,87747,en,Kate & Leopold,15.77,['US'],76019048.00,"['en', 'fr', 'it']",Released,tt0035423,FR,2000-2009,nm0005227

In [74]:
movies_with_personid.shape

(352804, 18)

In [75]:
actors_merged = pd.merge(
    movies_with_personid,
    mf,
    left_on = "nconst",
    right_on = "person_id"
)

actors_merged = actors_merged.drop("nconst", axis=1)

to_clean = ["titre_genres", "production_countries", "spoken_languages"]

actors_merged = eda.apply_decode_and_split(actors_merged, to_clean, decode_clean)

In [95]:
actors_merged = cleaning.fix_values(actors_merged, "fix_encode")

2023-10-26 16:06:11 INFO     Fixing encoding values...

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 3: invalid continuation byte

In [94]:
actors_merged[actors_merged["titre_str"].str.contains("Asterix")]

,titre_id,titre_str,titre_date_sortie,titre_duree,titre_genres,rating_avg,rating_votes,original_language,original_title,popularity,...,status,titleId,region,cuts,person_id,person_name,person_birthdate,person_role,person_index,person_film
42652,tt0133385,Asterix and Obelix vs. Caesar,1999,109,"[Adventure, Comedy, Family]",6.00,44484,fr,AstÃƒÂ©rix & ObÃƒÂ©lix contre CÃƒÂ©sar,16.62,...,Released,tt0133385,FR,1990-1999,nm0301556,Michel Galabru,1922,[CÃ©sar],4,"[tt0077288, tt1064932, tt0133385, tt0090095]"
42653,tt0133385,Asterix and Obelix vs. Caesar,1999,109,"[Adventure, Comedy, Family]",6.00,44484,fr,AstÃƒÂ©rix & ObÃƒÂ©lix contre CÃƒÂ©sar,16.62,...,Released,tt0133385,FR,1990-1999,nm0301556,Michel Galabru,1922,[BacaillÃ©'s father],3,"[tt0077288, tt1064932, tt0133385, tt0090095]"
42654,tt0133385,Asterix and Obelix vs. Caesar,1999,109,"[Adventure, Comedy, Family]",6.00,44484,fr,AstÃƒÂ©rix & ObÃƒÂ©lix contre CÃƒÂ©sar,16.62,...,Released,tt0133385,FR,1990-1999,nm0301556,Michel Galabru,1922,[Barbassou],4,"[tt0077288, tt1064932, tt0133385, tt0090095]"
42655,tt0133385,Asterix and Obelix vs. Caesar,1999,109,"[Adventure, Comedy, Family]",6.00,44484,fr,AstÃƒÂ©rix & ObÃƒÂ©lix contre CÃƒÂ©sar,16.62,...,Released,tt0133385,FR,1990-1999,nm0301556,Michel Galabru,1922,[Adjudant Alphonse Gerber],3,"[tt0077288, tt1064932, tt0133385, tt0090095]"
42656,tt0133385,Asterix and Obelix vs. Caesar,1999,109,"[Adventure, Comedy, Family]",6.00,44484,fr,AstÃƒÂ©rix & ObÃƒÂ©lix contre CÃƒÂ©sar,16.62,...,Released,tt0133385,FR,1990-1999,nm0301556,Michel Galabru,1922,[Le contractuel dÃ©butant],4,"[tt0077288, tt1064932, tt0133385, tt0090095]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2957939,tt8001346,Asterix: The Secret of the Magic Potion,2018,87,"[Adventure, Animation, Comedy]",6.70,10861,fr,AstÃƒÂ©rix - Le Secret de la Potion Magique,12.54,...,Released,tt8001346,FR,2010-2019,nm1594248,Alexandre Astier,1974,[Albert Einstein],1,"[tt9844322, tt0406709, tt8001346, tt0441059]"
2957940,tt8001346,Asterix: The Secret of the Magic Potion,2018,87,"[Adventure, Animation, Comedy]",6.70,10861,fr,AstÃƒÂ©rix - Le Secret de la Potion Magique,12.54,...,Released,tt8001346,FR,2010-2019,nm1594248,Alexandre Astier,1974,"[Oursenplus, Huiledolix, BlodimÃ©rix]",4,"[tt9844322, tt0406709, tt8001346, tt0441059]"
2957941,tt8001346,Asterix: The Secret of the Magic Potion,2018,87,"[Adventure, Animation, Comedy]",6.70,10861,fr,AstÃƒÂ©rix - Le Secret de la Potion Magique,12.54,...,Released,tt8001346,FR,2010-2019,nm1594248,Alexandre Astier,1974,[Arthur],1,"[tt9844322, tt0406709, tt8001346, tt0441059]"
3108829,tt8001346,Asterix: The Secret of the Magic Potion,2018,87,"[Adventure, Animation, Comedy]",6.70,10861,fr,AstÃƒÂ©rix - Le Secret de la Potion Magique,12.54,...,Released,tt8001346,FR,2010-2019,nm0108478,Guillaume Briat,1966,[Jean-Pierre],4,"[tt1179025, tt4835578, tt0441059, tt3759416]"
3108830,tt8001346,Asterix: The Secret of the Magic Potion,2018,87,"[Adventure, Animation, Comedy]",6.70,10861,fr,AstÃƒÂ©rix - Le Secret de la Potion Magique,12.54,...,Released,tt8001346,FR,2010-2019,nm0108478,Guillaume Briat,1966,[ObÃ©lix],2,"[tt1179025, tt4835578, tt0441059, tt3759416]"